.theme-btn {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #e5e7eb;
    border-radius: 50%;

    background: transparent;
    color: #2c2c27;

    cursor: pointer;

    transition:
        background 2s ease,
        color 2s ease,
        border-color 2s ease,
        transform 2s ease;
}

.theme-btn:hover {
    background: #f3f4f6;
    transform: translateY(-1px);
}

[data-theme="dark"] {
    background: #363730;
    color: #f9fafb;
}

[data-theme="dark"] body {
   background: linear-gradient(90deg, #636365 0%, #192f3b 50%, #060606 100%);
    color: #c99595;
}

[data-theme="dark"] .theme-btn {
    border-color: #090909;
    color: #f3f3f3;
}

[data-theme="dark"] .theme-btn:hover {
    background: #063271;
}

.theme-toggle {
    position: relative;

    width: 62px;
    height: 32px;

    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);

    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    background: #f1f1f1;

    transition:
        background 1s ease,
        border-color 1s ease;

    overflow: hidden;
}

.theme-icon {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;

    transition:
        color 3s ease,
        opacity 3s ease;
}

.theme-icon.sun {
    color: #f59e0b;
}

.theme-icon.moon {
    color: #8d8eba;
}

.theme-thumb {
    position: absolute;

    top: 3px;
    left: 3px;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    background: #ffffff;

    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.18);

    transition:
        transform 1s ease,
        background 1s ease;
}

.theme-toggle.dark {
    background: #034aff32;
    border-color: rgba(255, 255, 255, 0.15);
}

.theme-toggle.dark .theme-thumb {
    transform: translateX(30px);
    background: #545454;
}

.theme-toggle.dark .sun {
    opacity: 0.45;
}

.theme-toggle.dark .moon {
    opacity: 1;
}

.theme-toggle.light .sun {
    opacity: 1;
}

.theme-toggle.light .moon {
    opacity: 0.45;
}